/* SALES START */
#arsenicSales {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 900;
    color: rgb(165, 0, 0)!important;
    letter-spacing: 3px;
    margin-bottom: 75px;
    text-align: center;
}

#arsenicSales img {
    width: 325px;
    height: 180px;
}

.cardArSale {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.cardArSale:hover img {
    opacity: .7;
    border: solid 10px rgb(245, 150, 60);
}

.saleInfo{
	padding: 20px;
	margin: 0 auto;
	position: absolute;
    transition: .5s;
}
/* SALES END */