/* NAVBAR START */
header {
    font-family: 'Didact Gothic', sans-serif;
}

/* \=== JQU -> SCRIPT NAVBAR ===/  */
/*  \          kebawah         /   */

nav {
    transition: .5s;
}

.navScroll {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

/*  /          keatas          \   */
/* /=== JQU -> SCRIPT NAVBAR ===\  */

.nav-link {
    color: rgb(214, 214, 214)!important;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav-link:hover {
    color: rgb(245, 150, 60)!important;
    transform: translateX(1px) translateY(-1px) !important
}

@media (min-width: 992px) {
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}
/* NAVBAR END */