/* BANNER START */

#intro {
    font-family: 'Didact Gothic', sans-serif;
    position: relative;
    background-position: top;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 75px;
}

.jumbotron-home {
    background: url('/aset/img/home/banner/banner.jpg') no-repeat center center;
	background-position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0px;
    opacity: .9;
}

/* BANNER END */