.jumbotron-men {
    background: url('/aset/img/men/bannermen/bannermen1.jpg') no-repeat center center;
    /* background-position: center; */
	background-size: cover;
	background-repeat: no-repeat;
    height: 400px;
    border-radius: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 157px;
    margin-bottom: 37.5px;
}

@media (min-width: 319px) {
    .jumbotron-men {
        background: url('/aset/img/men/bannermen/bannermen1.jpg') no-repeat center center;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        border-radius: 0px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 157px;
        margin-bottom: 37.5px;
    }
}

@media (min-width: 413px) {
    .jumbotron-men {
        background: url('/aset/img/men/bannermen/bannermen1.jpg') no-repeat center center;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        border-radius: 0px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 157px;
        margin-bottom: 37.5px;
    }
}

@media (min-width: 767px) {
    .jumbotron-men {
        background: url('/aset/img/men/bannermen/bannermen1.jpg') no-repeat center center;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        border-radius: 0px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 157px;
        margin-bottom: 37.5px;
    }
}

@media (min-width: 1025px) {
    .jumbotron-men {
        background: url('/aset/img/men/bannermen/bannermen1.jpg') no-repeat center center;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        border-radius: 0px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 157px;
        margin-bottom: 37.5px;
    }
}